header {
    color:white;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    background-color: darkblue;
    font-family: 'NanumBold';
    height: 150px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-list {
    margin: 10px;
    background-color: aliceblue;
    width: 500px;
}

.flex-form {
    margin: 10px;
    background-color: darksalmon;
    width: 500px;
}

h1.flex-list-title, h1.flex-form-title {
    font-family: "NanumBold";
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
    border-collapse: collapse;
    width: 20%;
    height: 200px;
    font-family: 'NanumReg';
    font-size: 15pt;
    vertical-align: middle;
}

td {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: 1px solid #000000;
    color: white;
    border-collapse: collapse;
    text-align: center;
    background-color: #3b4bdf;
}

ul {
    font-family: "NanumReg";
}

ul.li {
    list-style-type: circle;
}

form {
    font-family: "NanumReg";
}

button {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'NanumBold';
    src: url('NANUMSQUAREEB.TTF');
}

@font-face {
    font-family: 'NanumReg';
    src: url('NANUMSQUARER.TTF');
}